name: ci
on:
  workflow_dispatch:
  push:
    branches:
      - master
defaults:
  run:
    shell: bash
jobs:
  docker:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest-8-cores
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - run: docker build -t stable-diffusion-webui:latest .
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}
      - run: docker tag stable-diffusion-webui:latest ghcr.io/${{ github.repository_owner }}/stable-diffusion-webui:latest
      - run: docker push ghcr.io/${{ github.repository_owner }}/stable-diffusion-webui:latest
